# LangChain
langchain==1.0.2
langchain-anthropic==1.0.0
langchain-classic==1.0.0
langchain-community==0.4
langchain-core==1.0.0
langchain-deepseek==1.0.0
langchain-experimental==0.0.42
langchain-google-genai==3.0.0
langchain-groq==1.0.0
langchain-mcp-adapters==0.1.11
langchain-ollama==1.0.0
langchain-openai==1.0.1
langchain-tavily==0.2.12
langchain-text-splitters==1.0.0
langchain-huggingface==1.0.0
langgraph-cli==0.4.5
langchain-unstructured==0.1.6
langchain-docling==1.1.0
langchain-chroma==1.0.0
sentence-transformers==5.1.2
huggingface-hub==0.34.4
mcp==1.19.0
agentevals==0.0.9
jq==1.10.0
bs==0.0.2
pypdf==6.0.0

# LangGraph
langgraph==1.0.1
langgraph-api==0.4.46
langgraph-bigtool==0.0.3
langgraph-checkpoint==3.0.0
langgraph-cli==0.4.4
langgraph-prebuilt==1.0.1
langgraph-runtime-inmem==0.14.1
langgraph-sdk==0.2.9

